@font-face {
  font-family: 'NorseBold';
  src: url('./Norsebold.otf') format('opentype');
}

body {
  height: 100vh;
  margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Hapësirë sigurie që të mos prekë fare anët e ekranit */
    box-sizing: border-box; /* Siguron që padding mos ta prishë lartësinë */
}

.form {
    width: 90%;  
    height: 40%;        /* Në ekranë të vegjël marr 90% të gjerësisë */
    max-width: 800px;
    max-height: 500px;    /* Por nuk bëhet ASNJËHERË më i madh se 300px */
    aspect-ratio: 1 / 1; /* Ruan formën e katrorit perfekt në çdo madhësi */
    background: linear-gradient(to right, red, green);
}